.btn {
  text-decoration: none;
  border: none;

  display: inline-block;

  transition: all 0.2s;
  border-radius: 100px;
}
.btn-tons {
  background-color: #018465;
  color: #f9f9f9;
  margin: 2px;
}
.btn-clear {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px black;
}
.btn-footer {
  margin-inline: 10px;
}
.text-box {
  display: flex;
  justify-content: right;
}
.ver-home {
  display: flex;
  justify-content: space-between;
}
#botoes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#botoes-sei {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}
