.btn {
    text-decoration: none;
    display: inline-block;

    transition: all 0.2s;
    border-radius: 100px;

    background-color: #ffffff;
    color: #000000;
}
.text-box {
    display: flex;
    justify-content: right;
}
.btn-home {
    padding: 10px;
}
.btn-white {
    margin-bottom: 20px;
    padding: 40px;
}
.btn-braco {
    margin-bottom: 20px;
    padding: 10px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-return{
    padding-inline: 10px;
}